body {
  padding-top: 100px;
  background: #555152;
  color: #DCE9BE;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


.navbar-custom {
    background-color:#2E2633;
    color: #DCE9BE;

}

.custom-pick-genre {
    background-color:#99173C;
    color: #EFFFCD;
    border: 2px solid #2E2633;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
