{% extends "base.html" %}
{% block content %}
<!-- This is all placeholder stuff. -->

<div class="custom-pick-genre"><h1>Pick a Genre.<br/>Get Some Music.&#8482</h1>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="input-group input-group-lg">

            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><strong>Search</strong></button>
            </span>
            <input type="text" class="form-control" placeholder="dubstep">

          </div><!-- /input-group -->
      </div>
    </div><!-- /.col-lg-6 -->
</div> <!-- /custom-pick-genre -->

{% endblock %}
